[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MissMech"]
	path = MissMech
	url = https://github.com/indenkun/missmech
[submodule "arabic2kansuji"]
	path = arabic2kansuji
	url = https://github.com/indenkun/arabic2kansuji
[submodule "jcalendaR"]
	path = jcalendaR
	url = https://github.com/indenkun/jcalendar
[submodule "mvnmle"]
	path = mvnmle
	url = https://github.com/indenkun/mvnmle
[submodule "readme2vignette"]
	path = readme2vignette
	url = https://github.com/indenkun/readme2vignette
