[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arabic2kansuji"]
	path = arabic2kansuji
	url = https://github.com/indenkun/arabic2kansuji
[submodule "mvnmle"]
	path = mvnmle
	url = https://github.com/indenkun/mvnmle
